.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -100px; /* Negative half of width. */
}

#auth-button {
  position: fixed;
  top: 1%;
  right: 1%;
}