h1 {
    font-family: '04B';
    font-size: 10vmin;
    text-transform: uppercase;
}

.title-text {
    margin-top: 10vmin;
}
  
h2 {
    font-family: 'Daydream';
    font-size: 2vmin;
    margin-top: -4.5vmin;
}

.blue {
    color: aquamarine;
}

@media only screen and (max-width: 500px) {
  
    h1 {
        font-size: 14vmin;
    }

    h2 {
        font-size: 3vmin;
        margin-top: -5.5vmin;
    }

   .title-text {
        margin-top: 25vmin;
    }
}