.score-tracker {
  position: fixed;
  top: 15%;
  left: 4%;
  font-size: 3vmin;
}

.question-counter {
  position: fixed;
  top: 15%;
  left: 50%;
  font-size: 3vmin;
  transform: translate(-50%, 0);
}

.game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over span {
  font-size: 3vmin;
}