.questionaire-container {
    background-image: url('../../../public/assets/window.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    width: 65vmin;
    height: 45vmin;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.questionaire {
    margin-top: 10vmin;
    width: 55vmin;
}

.question, .choices {
    color: black;
}

.question {
    font-size: 3vmin;
    margin-left: 5vmin;
}

.choices {
    font-size: 2vmin;
    /* margin-right: 2vmin; */
}

.octocat {
    position: fixed;
    bottom: 10%;
    left: 20%;
    width: 15vmin;
}

.monster {
    position: fixed;
    bottom: 17%;
    right: 25%;
    width: 12vmin;
}

.monster:nth-child(2) {
    bottom: 12%;
    right: 32%;
    width: 7vmin;
}

.monster:nth-child(3) {
    bottom: 12%;
    width: 7vmin;
    right: 20%;
}

.lives {
    display: flex;
    position: fixed;
    top: 14%;
    right: 13%;
    width: 10vmin;
    column-gap: 3vmin;
}

.heart {
    width: 5vmin;
}