nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-size: 4vmin;
    position: fixed;
    top: 2.5%;
    left: 2.5%;
}

#logout {
    position: fixed;
    top: 1%;
    right: 1%;
}