nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-size: 2.5vmin;
    position: fixed;
    top: 4%;
    left: 4%;
}

#logout {
    position: fixed;
    top: 1%;
    right: 1%;
}

#back {
    position: fixed;
    top: 1%;
    right: 20%;
}

@media only screen and (max-width: 500px) {
    
    .welcome {
        font-size: 4vmin;
        top: 3.5%;
        left: 8%;
    }
}