@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
  font-family: '04B';
  src: url('../../../public/fonts/04B.ttf');
}

@font-face {
  font-family: 'Daydream';
  src: url('../../../public/fonts/Daydream.ttf');
}

body {
  overflow: hidden;
}

.App {
  color: white;
  text-align: center;
}

#myCanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -5;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label, button, input, input:-internal-autofill-selected, span, ul, li {
  font-family: 'VT323', sans-serif;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* pixelated buttons */

.pixel {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 2vmin;
  font-family: 'VT323';
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  line-height: 0;
  border-style: solid;
  border-width: 20px;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel:active, .pixel2:active, button:active {
  top: 2px;
}

.pixel p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;
  background: #000000;
  background:
      linear-gradient(135deg, transparent 10px, #000000 0) top left,
      linear-gradient(225deg, transparent 10px, #000000 0) top right,
      linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
      linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image:
      radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
      radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
      radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
      radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
}

.pixel:hover {
  cursor: pointer;
}

button {
  background-color: black;
  border-radius: 50px;
}

ul, li {
  list-style-type: '\1F47E';
  list-style-position: inside;
  padding: 0;
}

li span {
  position: relative;
  left: 10px;
}

label, select, option {
  z-index: 0;
}

.leaderboard {
  z-index: 5;
}

/* @media only screen and (max-width: 500px) {

  #myCanvas {

  }

} */