@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
  font-family: '04B';
  src: url('../../../public/fonts/04B.ttf');
}

@font-face {
  font-family: 'Daydream';
  src: url('../../../public/fonts/Daydream.ttf');
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label, button, input, input:-internal-autofill-selected {
  font-family: 'VT323', sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}