.categories {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 3vmin;
    padding: 5px;
}

select, option {
    text-transform: uppercase;
    text-align: center;
    font-family: 'VT323', monospace;
}

select {
    width: 12vmin;
}

@media only screen and (max-width: 500px) {

    label {
        font-size: 6vmin;
    }
    select {
        width: 25vmin;
        font-size: 4vmin;
    }
}